[2016-08-12 03:20] mpathiuk opened #1 "Test Scenario for Ding"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Hodor Corp (your client stakeholder is Harry). The outcome of this project will be a website which all

[2016-08-16 04:34] mpathiuk opened #2 "Test scenario for Ricky"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

Project Introduction
You have been assigned as project manager for a project for the client Janus Corp (your client stakeholder is Joe). The outcome of this project will be an app which allows a use

[2016-08-17 14:59] wentws commented on #2
Project scope:
1)  the backend and frontend for login and signup with SMS verification
2)  interface with existing calendar system within backend and frontend by Lion labs
3)  specific requirement with registration and signup(send username and email to existing system)

Project Plan

1   WBS
1)  Server set up for receiving request from phone and sending the SMS verification back
2)  Mockups and fl

[2016-08-18 04:05] mpathiuk commented on #2
Ok, so the plan is in progress and it is now the middle of week 4. The mockups were finished and approved by both Janus Corp. and Lion Labs. Your developer has started on the integration already and spent 3 days on it. You get the following messages:

From @llleo222 (Leo from Lion Labs):
Hi @wentws , our specification has changed a little due to incoming requirements on our side, for your integrat

[2016-08-20 08:21] wentws commented on #2
@llleo222,  for this small change, I need to get back to my team if it will take much effort. Then I will figure out if it will impact on the schedule.
@myteam333, we have got a requirement change on the message handling, will send you the specification on the requirement, could you check and give me the estimation for how long we could implement the change?

@jcjoe111,  I think it could be a new

[2016-08-22 03:28] mpathiuk commented on #2
From @myteam333 - Hi @wentws We've sat together and have an optimistic estimate that this would push the schedule back one week.

From @ jcjoe111 - Ok, can you get back to us on that ASAP, to be clear we now see this as a requirement as we cannot go to production without this.

[2016-08-22 13:22] wentws commented on #2
@llleo222, I get the info from my team that we could finish the specification change requirement before delivery as we still have one week to implement that. So we could accept you change request without impacting the schedule.

@jcjoe111, After my investigation, this new requirement will almost take another 4 weeks, so it is not possible to put this requirement into this phase and we don'e have t

[2016-08-23 04:11] mpathiuk commented on #2
From @jcjoe111 - Given that this is now a must for launch, are there any alternatives you can think of to get this done in the current schedule? Can we up the budget to get your team to work overtime? Can we reduce scope somehow?

From @myteam333 - We've looked further into the new requirement. We can hit it within our current schedule if we sacrifice some of the non-functional requirements for th

[2016-08-23 04:13] mpathiuk commented on #1
Closing as incomplete.

[2016-08-23 04:13] #1 closed, assigned to nobody

[2016-08-23 14:45] wentws commented on #2
@ myteam333, I think it is a possible plan, let me talk with the stakeholders if they agree to give up non-functional requirement to initial the new must- have requirement.

@jcjoe111, I have interlocked with my team, we could achieve the new requirement, at the same time, we have to remove some non-functional requirement in this release, will place it in next release. So that we could catch up th

[2016-09-22 08:29] #2 closed, assigned to nobody

[2016-09-22 08:30] mpathiuk commented on #2
Closing as old.

[2016-10-20 06:46] mpathiuk opened #3 "Test for Andrew"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Hodor Corp (your client stakeholder is Harry). The outcome of this project will be a website which all

[2016-10-21 07:03] AndyGreene commented on #3
@myteam333 - hi guys,  do you need any additional resources for testing? Particularly integration testing with stock information from Frodo Corp?
@flfrank222 - Hi Frank, can I just confirm with you, username and email is the only user information you need passed on to you?
@myteam333 - I'm not quite clear on the infrastructure needed for system deployment and integration with Frodo Corp, please co

[2016-10-25 09:15] mpathiuk commented on #3
• From @myteam333 - Nothing more needed for testing from our side for the current acceptance criteria.
• From @flfrank222 - It shouldn't change after now as far as we can see.

Ok, so the plan is in progress and it is now the middle of week 2. The mockups were finished and approved by both stakeholders. Your developer has started on the integration already and spent 3 days on it. You get the follo

[2016-10-28 06:40] AndyGreene commented on #3
Hi guys, I would proceed with the following actions:
- Set up a group call with Frank and Harry to understand the new requirements, i.e. confirm with Harry that the user address is needed in the integration, confirm with Frank the requirement to send Internal IP addresses to FrodoLabs.
- Draw up a spec for the new requirements
- Explain to Frank and Harry, that I must get time estimates from the t

[2016-11-17 04:07] mpathiuk commented on #3
Thanks for this @AndyGreene ,we have what we need from the test to proceed. Closing the test as done and moving on the internal evaluation.

[2016-11-17 04:08] #3 closed, assigned to nobody

[2016-12-22 04:34] mpathiuk opened #4 "Test for FuZhuang"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

Project Introduction
You have been assigned as project manager for a project for the client Hodor Corp (your client stakeholder is Harry). The outcome of this project will be a website which allows

[2016-12-23 06:42] fuzhuangli commented on #4
@mpathiuk For the test， is hcharry111 the product owner？Will the product owner provide a function feature list or our team will need to deliver a function specification？

[2016-12-23 08:02] mpathiuk commented on #4
You can see hcharry111 as the Project sponsor and main stakeholder. He's provided you the basic requirements, and you're not expected to go into a lot of detail, more of a high level work breakdown to gauge your experience in analysing project steps/deliverables and differentiating work items.

[2016-12-23 08:53] fuzhuangli commented on #4
Requirement understanding
1. Background

- Purpose: To build the user account module for the stock information website and allow website to present different contents to users based on user profile

- Value: Enable the website to customize the content to users and accumulate user profile data for future use

2. Requirement scope
Wiredcaft will need to build the account module and enable it to inte

[2016-12-23 09:27] fuzhuangli commented on #4
For the test，the waterfall method I'm currently use in my current position，the rough timeline （milestones）would be:

Week1 Day2
Confirmation of function specs with Team and client and Frodo lab project manager，assuming feature items aligned as：
- User profile management function（what fields will the user be able to edit after they log in）
- User sign-up function（registration）
- User log in functio

[2016-12-23 09:29] fuzhuangli commented on #4
I would try to produce a scrum version of the plan later today，with what I learned from the scrum training

[2016-12-25 07:08] fuzhuangli commented on #4
Scrum plan

Phase\Timeline\Content\Deliverables

- Sprint Planing\Week 1\Clarify requirements and confirm work items，inviting all team members and stakeholders\Function feature list for the user account module
- Sprint Planning \Week1\Sprint Planning meeting follow-up---Estimate sprint budget and work item cost（in hrs），agree on Sprint backlog\Sprint backlog；breakdown to daily tasks
- Sprint \Week

[2016-12-25 07:21] fuzhuangli commented on #4
@hcharry111 Hi there，from our initial communication，currently we would need your feedback on 2 issues:
1. Function features specification:
here's summary from our discussion yesterday:
- User profile management function（what fields will the user be able to edit after they log in）
- User sign-up function（registration）
- User log in function
- Email verification function
- Password recovery function

[2016-12-26 08:51] mpathiuk commented on #4
Follow up questions covered during interview. Closing as completed. Thanks for participating @fuzhuangli .

[2017-01-17 03:59] #4 closed, assigned to nobody

[2017-05-07 10:45] mpathiuk opened #5 "Test for Gunnar"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Kuno Corp (your client stakeholder is Leo). The outcome of this project will be a website which allows

[2017-05-07 10:50] mpathiuk opened #6 "Test for Pauline"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

Project Introduction
You have been assigned as project manager for a project for the client Makara Corp (your client stakeholder is Chopper). The outcome of this project will be an app which allows

[2017-05-08 10:23] dulhaver commented on #5
@mpathiuk - can you clarify on those questions below about the test please?

- _front end for sales figure information system_ is the part of the website where the user can access the _sales figure data_ after login, correct?
- What is WCL?
- WC's team has 2 Designers. I assume "Designer" means "frontend developer", building the user interface. They design the detailed functionality, write the web

[2017-05-08 10:30] mpathiuk commented on #5
Yes correct,

Wiredcraft Limited ,  our company abbreviation :)

Yes correct, you have two designers who can make mockups and flow diagrams of the login and once confirmed, implement the frontend parts.

[2017-05-09 14:23] PaulinevDuin commented on #6
@Kate222 - Hi Kate, hope everything is going well on your side of the application! I was wondering if you and your team have time to meet on a weekly basis with our team? I want to make sure we will be able to implement our features and functions immediately in your already existing application without any complications, so a weekly update meeting and possible test would be very helpful. What do y

[2017-05-10 03:59] dulhaver commented on #5
### Project Goal

Create a website which allows a user to sign up, log-in to a system that gives them real-time accesss to sales figures of their salesmen.

This is being done in cooperation with the Client "Kuno Corp" on one hand and "Jhonny Labs", who are building the _sales figure system_'s backend, on the other.

### WLC's mission

1. create back- and frontend for signup and login
2. create fr

[2017-05-10 04:03] dulhaver commented on #5
### First Action Steps

0. **create a git repository** for the project and add @myteam333, @flfrank222, @leo111
1. **confirm feature list** with Kuno Corp (cc: Jhonny labs)
2. inquire with Jhonny Labs **which data** exactly is being provided by _real-time sales figure system_
3. inquire **format of data** provided by _real-time sales figure system_ & get a set of **mock up data** WLC team will use

[2017-05-10 04:07] dulhaver commented on #5
### Running the Project

1. **evaluate tasks related to each other in terms of effort/time required** to finish with the team (each members does that individually in order to not compromise estimate through interference from others. Then we'll take the average values of these estimations.
2. **define length of sprints**. On the scenario given 1 week sprints seem to make sense
3. **team members pic

[2017-05-10 04:10] dulhaver commented on #5
All **communication** between the WLC team, project stakeholders (Jhonny Labs, Kuno Corp.) is being **conducted through github issues** (assuming we give access to our repository to stakeholders).

[2017-05-10 04:14] dulhaver commented on #5
@leo111 - can we go through more detailed feature requirements for the _real time sales figure system_ sometime please? Furthermore I'd like to prioritize those with you in order to structure deliverables from our end.

[2017-05-10 04:17] dulhaver commented on #5
@leo111 - how is the status of the backend development for **Kuno Corps** _real time sales figure system_ on your end?

Furthermore I'd like to understand in more detail which exact data your system is going to produce and how this data will be accessible to the frontend side of this. Can we connect to real or mockup data alreay?

I'd like my colleague Song Sun from our infrastructure team to clar

[2017-05-10 13:36] PaulinevDuin commented on #6
**Project scope**
WiredCraft has been assigned to help Makara Corp to produce and implement an application which can be fully integrated in their already existing user-tracking system. The function of the application is to make it possible for users to sign up for the user-tracking system and once signed up to login into the system with their defined details. One of the most important features of

[2017-05-14 11:29] PaulinevDuin commented on #6
@mpathiuk - Hi Mik, just wanted to check in with you if there were any comments to the above. Would love to hear if you'd like me to be more detailed on certain aspects or if there are any parts missing. Thanks and look forward to hearing from you.
Regards, Pauline

[2017-05-15 09:29] fuzhuang commented on #6
@PaulinevDuin Hi, a few additional situations come up for your project:

• During client QA, they found out the sign-in is not available, and your team's investigation shows that Wayne Lab changes the user ID digits specs without informing you guys.

• @chopper111 came to you, 2 days before the release, that due to marketing team arrangement, large scale marketing event will happen during the rele

[2017-05-15 09:52] dulhaver commented on #5
hi @mpathiuk, @fuzhuang,
I haven't heard anything from you in this regards and was wondering whether you have any comments on this.

[2017-05-15 10:02] fuzhuang commented on #5
Yes！Some new things happened to your project @vrms :

• Leo came to you and asked for 2 new diagrams for sales KPI info to be shown on the system interface;
• Your dev team is progressing slower than plan since the API provided from Johnny Lab is not stable
• Your dev-ops guys is taking a leave for a week with short notice due to family situation.

[2017-05-18 03:59] dulhaver commented on #5
@LEO111 - all noted about the requested diagrams. When are you available to prioritize them against the other remaining features?

Based on that we will get an idea how much these additions will influence the final delivery date.

[2017-05-18 04:03] dulhaver commented on #5
### issue with API stability

**@myteam333** - as you may have noticed Johnny Labs is having some **issues with stability of the API** for the backend of the sales figure system we are building for Kuno. To adapt to this I'd need some input from your end.

- is that a problem for us at all? I mean we have attempted to set up a mockup. **Can we continue to work with that mockup for now and likewise

[2017-05-18 04:07] dulhaver commented on #5
@LEO111 - I guess you have heard from **@flfrank222** about their problems with the stability of the API (the connector between the user interface which we are building to the system interiors build by Johnny Labs).

I am discussing with the Wiredcraft team how much this disturbs to proceeding with the frontend/interface now and will get back to you about this shortly.

[2017-05-18 04:08] dulhaver commented on #5
**@flfrank222** - Can you kindly give us an estimation when the API is expected to be stable?

[2017-05-18 04:10] dulhaver commented on #5
(@fuzhuang - _will you play the role of **my team**, as well as **Frank** and provide the feedback as per above questions in their name, or should I assume their feedback myself in order to proceed here?_)

[2017-05-18 04:20] dulhaver commented on #5
_(dev-ops guys is taking a leave for a week with short notice due to family situation.)_

**@myteam333** Song Sun is going to be on a leave for a week. I don't think we will be able to get a sub for him from the other teams on that short notice so we'll have to manage required building on our own while he is away.

Is anybody familiar with the specific build scripts/workflow  being used for our pr

[2017-05-19 02:37] PaulinevDuin commented on #6
@kate222 - HI Kate, we were testing our demo and found out that some user ID digits specs changes have affected our sign-in. Currently it's not available which we hope to solve quickly. Could we schedule a meeting or Skype call to discuss how we can set up an automatic communication of user changes between the user-tracking system and the login? Then we can make sure our systems are always up to d

[2017-05-22 08:42] mpathiuk commented on #6
Thanks @PaulinevDuin . We have enough info in this test to proceed to the next stage. Our Operations team will be in touch with you to coordinate.

[2017-05-22 08:42] mpathiuk commented on #5
Thanks @vrms . We now have enough answers from this test to proceed to the next stage. Our Operations team will be in touch with you to coordinate.

[2017-05-27 02:03] mpathiuk commented on #6
Moved to next stage, closing as done.

[2017-05-27 02:03] #6 closed, assigned to fuzhuang

[2017-07-03 01:51] #5 closed, assigned to fuzhuang

[2017-07-03 01:57] mpathiuk opened #7 "Test for Maria"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Zbal Corp (your client stakeholder is Vincent). The outcome of this project will be a web app which al

[2017-07-04 03:22] mpathiuk opened #8 "Test for David"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

Project Introduction
You have been assigned as project manager for a project for the client 10k Corp (your client stakeholder is Yiwan). The outcome of this project will be a website which allows a

[2017-07-04 16:11] maltyeva commented on #7
@vincent1211 Great to get connected with you regarding the Zbal project. My name is Maria and I will be the Wiredcraft PM communicating with you throughout the process. My team and I are putting together a project plan and timeline to deliver to Zbal Corp, however, I would like clarify a few things on the project first, to get both our teams on the right track!

1. Regarding the climate data that

[2017-07-04 16:16] maltyeva commented on #7
@song222 Hi there, would you mind letting me know what platform Qingfeng will use to build their backend portion of the Zbal corp project and a possible timeline for the build? Please let us know any server requirements for the specific implementation you will be using, as well as any requirements or limitations for the authentication system that our team will take care of.  Thanks!

[2017-07-04 16:20] maltyeva commented on #7
@myteam333 I've gotten in touch with the Qingfeng team to learn more about their end of the platform. Could you guy let me know what platform you guys were hoping to use to implement the user authentication module and whether there are any requirements or limitations I should be aware of. Thanks!

[2017-07-05 03:35] mpathiuk commented on #7
From @vincent1211:
1. When you log a user in, you're going to pass that userID to Qingfeng labs, they already know which user should see which climate data.
2. Let's start with temperature, barometric pressure and precipitation.
3. High's and lows for the day?

Assume you have also received style guides, branding guidelines etc.
Zbal Corp will host in their existing IDC's

From @song222
Assume you

[2017-07-06 00:54] david-adam commented on #8
@chopper222 -  Hi there, can I ask when you need to receive the username and email after the user login? should we immediately send the info to your after the user successfully logged in?

[2017-07-06 01:03] david-adam commented on #8
@yiwan111 - Hi there, can I clarify the requirements for the user registration with you? Which back-end system will be used to authenticate the user registration and login? Is it the Charlie's stock market service?

@chopper222 - can you share with me the plan and timeline for implementing the user customization and / or the user authentication service?

[2017-07-06 01:07] david-adam commented on #8
@mpathiuk For the test, I want to ask if the requirements and the final scope should provided in user stories? Will me as the PM to write the user stories? Or they can also be provided as a block of the text describe the requirements?

[2017-07-06 01:48] david-adam commented on #8
@Yiwan111. Hello, I have several points to confirm regarding the user login and signup page: 1. What's the validation rules for the username field? EX. Min 8 characters, only numerical & alphabet characters ? Do special characters allowed? If allowed, which ones?
2. For the Email field, should we only validate the email address according format or need validate if it is a real existed real email a

[2017-07-06 01:55] david-adam commented on #8
@Choper222, @Yiwan111: Hello guys, can you tell which features in the new system for the user check the stock information has? WiredCraft will build the signup / login page, and integrate with Charlie's user customization service, but it's good to know what the end user will get after this project is done. :)

[2017-07-06 02:48] mpathiuk commented on #8
From @chopper222: 1. Yes send us the login details immediately after the user logs in, we will then respond with the correct stock data for this user.
Our staging system will be ready for your integration testing at the end of week 2. Until then we are providing some mock API's for you to test against which return some test stock data.
Assume you have been provided with the full spec of the data r

[2017-07-06 04:02] david-adam commented on #8
@mpathiuk For the QA, can I assume the team will do the QA without dedicated QA staff?  And I will apply the SCRUM process?

[2017-07-06 04:09] mpathiuk commented on #8
Yes for QA, and you can apply whichever methodology you think is suitable.

[2017-07-06 04:41] david-adam commented on #8
@chopper222. Hello, may I know when the front-end information for the user customized stock update will be ready on your side?

[2017-07-06 04:49] maltyeva commented on #7
@mpathiuk thank you for the feedback! trying to get myself out of the agency mindset haha. Please find the scope and project plan below:

## Final Scope of Project
This project is for to create a web application that will allow a user to sign up and log into a system that will display climate and temperature data. This application will be a web app accessible through desktop and mobile browsers.
#

[2017-07-06 04:59] david-adam commented on #8
High-level requirements and scope for WiredCraft:

- Design and implement the user signup & login front-end page.
   1. Design a web form page to handle user signup and login. Three fields are all required on signup: username, min 8 characters, max 20 characters, only contains number, alphabet, and underscores. email: validate the email format is correct when signup, when login, validate the user

[2017-07-06 05:01] david-adam commented on #8
WBS:
![10k corp-wbs](https://user-images.githubusercontent.com/1900786/27896222-2cdfa1e8-624b-11e7-8cde-ffe9f229073e.jpg)

[2017-07-06 05:06] david-adam commented on #8
Project plan & timeline.
Divided this project to two major phases ( thus releases ). We will adapt the scrum process, though the two sprints do not necessarily have the same length, should plan more time for the integration work with Charlie labs.

# Phase 1 - User Signup and Login: week 1 to week 2

## Week 1

- Requirement clarification and scope
- User signup/login page UI design. ( Designer wo

[2017-07-06 06:20] david-adam commented on #8
@yiwan111, @chopper222. I have the following assumptions  on how the user accounts management will work, can you kindly clarify or validate these:
1. We will not sync the user account info from Charlie labs new stock system. When a new user account created, we will store it in our own database.

2. When log user in, we will authenticate against our own database, no other external system's DB will

[2017-07-06 06:22] david-adam commented on #8
@yiwan111. Hi there, regarding the design of the front-end page for the project, may I know which browsers and devices ( Web view and mobile ) need be supported? Should it be a responsive web page design?

And what's the target page loading speed on performance?

For the target users, do you have global user bases so we need provide multiple languages versions for the site?

[2017-07-06 11:53] david-adam commented on #8
**Assumptions:**
- I assuming that the project kickoff and client & partner introduction and handshake were already done outside this GitHub issue
- I assuming Github issue normally only open access to Wiredcraft internal staff. So, I will only use @yiwan111 and @chopper222 when I want to communicate externally.
- Final requirements, scope and project timeline will be specifically marked; otherwis

[2017-07-06 12:03] david-adam commented on #8
@Chopper222, Hello Chopper, regarding the front-end data for the user stock, which format will you provide to us? Will it be just a well-structured data or it is the final HTML output including style sheet information?

[2017-07-06 12:04] david-adam commented on #8
@Chopper222, @Yiwan111, Hello, hope you are doing well. As you know we are currently building out a project plan and timeline, would be really great you can answer me the questions I sent previously regarding the assumptions, user signup / login page design questions and the front-end data for the user stock information?

@Chopper222, since we have two dependencies on your team: the user customiza

[2017-07-07 08:44] david-adam commented on #8
Hello, @yiwan111, @Chopper222 and @myteam333. Please see the final Project Plan as follows.

( @mpathiuk  It is based the assumption that I received the answers from Chopper222 regarding the user customization API and stock front-end information )

# Final Project plan & timeline.

Divided this project to two major phases ( thus releases ). We will adapt the scrum process, though the two sprints d

[2017-07-10 03:01] mpathiuk commented on #7
Thanks @maltyeva .

You're now halfway through week 3 of your proposed timeline and you hear from Qingfeng Labs:

@song222: Due to recent government regulations we now have to ask the user to add their phone number to the registration process, please also provide us this data during registration and validate the phone number through SMS.

After checking with your team, you hear back from them:
@my

[2017-07-10 09:25] maltyeva commented on #7
Thank you @mpathiuk !

@song222 thanks you for letting us know about the recent regulations change. Unfortunately, sometimes these things can't be foreseen. We will discuss the changes with the client shortly, but in the meantime, would you mind providing some further information on your end?

1. Could you pass the full documentation for the recent government change, so our team can take a look, a

[2017-07-11 02:29] mpathiuk commented on #8
Thanks @david-adam ,

I'd like to keep this high-level so we'll skip past the detail oriented questions for now.

You're in the middle of week 4 of your above plan when you hear from the client:

from @yiwan111 :

Hi there, I've just received word from corporate that we now need to ask the user to give us a bank card number and validate this during registration for security reasons. However we can

[2017-07-11 02:32] mpathiuk commented on #7
From @song222:
1. You receive the documentation for the change, it is indeed in order and the change came in one day ago.
2. 4 days seems reasonable to me
3. We have to keep it mainland due to hosting requirements and existing IDC's of the client.

1. Not a problem, but clients have been clear we should put this in their own IDC
2. Also possible, there are many 3rd party services
3. We've checked

[2017-07-11 03:28] david-adam commented on #8
@mpathiuk I will do as follows:

@yiwan111. Thanks for your urgent updates. For this is a scope and requirement changes, we estimated that it would need to add 3 weeks to the timeline if we provide a full flow for the back card input and validation, but if we can do it first without validation, we can meet the timeline. Therefore, may I propose for the following?
We first only provide the back car

[2017-07-11 08:32] maltyeva commented on #7
@myteam333 thanks for the update! Please let me know if we need to allocate more devs to the team to ensure the project is not taking up too much of your time. Possible to do a demo version of the application without the sms functionality by the end of this week or early next week?
@myteam333 (sysadmins): please let me know if the server configuration is on track, we may need to shorten the testin

[2017-07-11 09:59] david-adam commented on #8
@myteam333 I have a question about the credit card validation estimation . May I know why we need 3 weeks?  Because the whole project originally is 5 weeks, if just considering development, it around 4 weeks; why add this single validation need 3 weeks more?  Just want to know some details so I can explain to the client and to see if we have room to propose other alternatives.

[2017-07-12 03:44] mpathiuk commented on #7
@maltyeva Thanks for this, I believe we have enough to proceed with the next recruitment steps. You will hear back from us by mail.

Closing this test as completed.

[2017-07-12 03:44] #7 closed, assigned to nobody

[2017-07-12 03:45] mpathiuk commented on #8
@david-adam  Thanks you, we can count the test as completed and move on to the next steps. You'll hear from us by email.

[2017-07-12 03:45] #8 closed, assigned to nobody

[2017-08-02 10:13] mpathiuk opened #9 "Test for Franziska"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Ronan Corp (your client stakeholder is Jason). The outcome of this project will be an app which allows

[2017-08-09 16:39] Franziskarrr commented on #9
Dear all,
Nice to meet you! Let me first of all describe on how I plan to proceed from this point. I initially want to clarify some requirements regarding the scope and then describe on how I would proceed in the further steps of planning this out. I don’t have the name of the project sponsor at this moment, so I will call him @sponsor444 from this point on.

@sponsor444 – Based on the project des

[2017-08-10 06:55] mpathiuk commented on #9
I think we're getting a little too high level here. For the purposes of this test, let's assume that you have already agreed on project charter, scope and that the backend and frontend team can handle all the work in-house. We can assume budget and timeline have also already been agreed on.

The backend air pressure API is already being developed by Juha labs, our team will need to make the fronte

[2017-08-14 02:45] Franziskarrr commented on #9
Hello all,

I’m sorry this is taking me so long, but last week was an emergency. I’m back in China now and ready to finish this assignment ASAP.

To get right to it, I designed a WBS as well as a flowchart based on my assumptions. I would like to clarify further:

@myteam333 – Can you please give me a list of activities for the work packages I designed in the flowchart as well as their duration. I

[2017-08-15 02:59] mpathiuk commented on #9
From @myteam333:

Assume you've received these and that everything fits within the timeline, for the purposes of the test we don't need to get into this level of detail.

Frontend and backend can proceed in parallel, however we need mockups completed and approved before we can start frontend work.

We'd need the API specifications before starting backend work and we'd need their staging delivery r

[2017-08-17 01:31] Franziskarrr commented on #9
[Flowchart V2.pdf](https://github.com/Wiredcraft/test-pm/files/1229887/Flowchart.V2.pdf)
[Communication Table.pdf](https://github.com/Wiredcraft/test-pm/files/1229889/Communication.Table.pdf)

**Project Phases**: Design; Coding; Testing, Review and Launch
**Communication Media/Org:**
Regarding an overview who should be in the loop for what part you can refer to the table I attached. As for communi

[2017-08-17 03:33] mpathiuk commented on #9
Thank you @Franziskarrr , we have enough to proceed to the next phase. We will reach out for this by email. Closing this test as completed.

[2017-08-17 03:33] #9 closed, assigned to nobody

[2017-11-01 04:58] mpathiuk opened #10 "Test for Matthieu"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Chopper Corp (your client stakeholder is Charlie ). The outcome of this project will be a website whic

[2017-11-06 01:17] matthieumellul commented on #10
Hi Mik,

I understand that in this business case, Wiredcraft is to develop and deliver the sign-up and login services for an e-commerce website. The client (Chopper Inc. represented by Charlie) also works with one external party (Shane Labs, represented by Yiwan) that is in charge of the other functionalities (display commodity prices and availabilities) and which whom we have to collaborate with

[2017-11-08 07:43] mpathiuk commented on #10
From me:

7 weeks to staging, as you have assumed.

The Client

We are and your designer can handle this with the client directly

Assume that the team is on this full time and the budget and contracts are already taken care of.

[2017-11-08 07:47] mpathiuk commented on #10
Your plan is in progress and it's now week 2.

From Shane Labs slyiwan222222 : Hi @matthieumellul , we've just realised that due to new legal registrations, we will require you to pass us the user's phone number as well, and this will need to be validated by SMS.
Can you let us know if this is doable within the timeframe or will need to come in a post-release fix?

After discussion with your team

[2017-11-08 12:02] matthieumellul commented on #10
Hi Mik,

I would do the following :

the very day:

1. **confirm the new specifications** : quick check the new regulation to confirm if the issue raised by Shane Labs is relevant, how critical is it and if there is a way around it. If there is reasonable doubt, contact Shane Labs to challenge and confirm the specifications.

2. **prepare a recommandation for the client**: if we have to integrate

[2017-11-09 03:24] mpathiuk commented on #10
You get the go ahead from the client for the SMS validation release 3 weeks after the initial release. Your team then proceeds with your plan for a few more weeks.

You're now in week 4 and your team tells you that due to unforeseen technical circumstances as well as some small changes that need to be made to support the SMS validation release they will not have the frontend finished for testing b

[2017-11-09 07:33] matthieumellul commented on #10
Hi Mik,

as you can see on the workplan, I have initially planned a quite long internal testing period (about 30% of the total time) which allows some flexibility for the team before impacting the deadline for the client. Experience tells that it is always safer to be able to deal with some unexpected or unforseen issue.

What I would do at this stage :

**internally**

I would keep pressure on th

[2017-11-10 03:46] mpathiuk commented on #10
You're in week 7 development and testing is now completed. You are about to launch the first version without SMS validation when the client raises the question:
"What do we do with users who sign up between now and the launch of SMS validation? We have the legal requirement to get the SMS for all users by 4 weeks time"

Assuming they will be ok with the budget for any upcoming work for your soluti

[2017-11-10 07:37] matthieumellul commented on #10
Hi would ask you for advice :)

And seriously, I will suggest to give ourself 3 days to confirm the date of launching. Since the initially 7 weeks project period was planned for a delivery in a staging environment, I assumed the launch was not set yet. I'll assume the client wants to launch as soon as possible.

At this point, I would suggest that we explore all available options to be ready as so

[2017-11-13 09:54] mpathiuk commented on #10
Thanks @matthieumellul We have enough information from the test. Closing as done and we'll be in touch.

[2017-11-13 09:54] #10 closed, assigned to nobody

[2017-11-21 09:52] mpathiuk opened #11 "Test for Rotem"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Kuno Corp (your client stakeholder is Leo). The outcome of this project will be a website which allows

[2017-11-22 09:09] rotemsioni commented on #11
@flfrank222 Hi Frank, hope everything is well. I'd like to schedule time for a technical workshop with you to discuss the integration points and data flow. I'm assuming WD will use Jhonny Lab APIs? Do you have any specs drafts you can share in the meanwhile?
@LEO111 Hi Leo, I'm planning to schedule a technical workshop with Frank and his team. Would you like to join as well? The agenda will be to

[2017-11-22 09:22] mpathiuk commented on #11
Hi @rotemsioni we can keep this a little more high level.Assume you have received the API specs from @flfrank222 and all tech handover has happened with your team and the client involved.

[2017-11-22 12:10] rotemsioni commented on #11
@mpathiuk
Hi Mik, I can't upload the file here so I sent it by email.
Let me know if you have any feedback, thanks!

[2017-11-24 01:46] mpathiuk commented on #11
[Proposal for Kuno Corp.pdf](https://github.com/Wiredcraft/test-pm/files/1500426/Proposal.for.Kuno.Corp.pdf)

Uploading received project plan here for visibility.

[2017-11-24 01:51] mpathiuk commented on #11
@rotemsioni We're now in week 2 of your plan, and so far things are going well. In the middle of week 2 you get the following message from @flfrank222 of Jhonny Labs:

HI @rotemsioni , we've just found out that due to a new government regulation, we now need to receive the phone number of a user during registration (validated through SMS) before we can share any data with them. Please can you impl

[2017-11-25 08:18] rotemsioni commented on #11
First I‘ll contact Frank and ask him if his team can complete the SMS validation related work on their side within two weeks so we can be sure to launch this feature before the regulations come into effect. I will also have a short workshop to understand exactly the flow and the division of work between the two service providers.

After Frank’s confirmation, I’d contact Leo and present to him the

[2017-11-27 10:03] mpathiuk commented on #11
Assume the client has chosen to go with Option B above. Everything has been cleared with the PMO and client manager on the budget side and you have committed to release 2 weeks later with SMS validation.

You're now 1.5 weeks away from delivery when two of your team members fall ill. The remaining team members will not be able to finish all the work by the end of week as planned. Frank also confir

[2017-11-27 13:37] rotemsioni commented on #11
In this case, I would have three options:
A. Contact backup outsource service providers to see if they can help out with the pending items.
B. Contact Jhonny Labs to see if perhaps they can finish the development of the pending items, or at least help with small tasks.
C. Communicate with my team members and ask them to do overtime once they are back to the office in order to complete all pending

[2017-11-28 08:47] mpathiuk commented on #11
Thank you, we have enough information to continue, closing this test as completed.

[2017-11-28 08:47] #11 closed, assigned to nobody

[2018-01-17 04:46] mpathiuk opened #12 "Test for Lynn"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Zbal Corp (your client stakeholder is Vincent). The outcome of this project will be a web app which al

[2018-02-05 04:40] mpathiuk commented on #12
Closing as not started.

[2018-02-05 04:40] #12 closed, assigned to nobody

[2018-02-06 09:12] mpathiuk opened #13 "Test for Michael"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Zbal Corp (your client stakeholder is Vincent). The outcome of this project will be a web app which al

[2018-02-06 16:08] mikelhsia commented on #13
@mpathiuk
Hi Mik, for the test, could you kindly explain me what does "WCL" stand for?

[2018-02-06 16:08] mikelhsia commented on #13
@vincent1211
Hi Vincent, I have received a brief introduction of the project, which is to build a climate dashboard for registered user to check out the climate figures. However, if you can tell me a little bit more about the goal of this project, or who are the target audience of the web app, I believe we could clarify the requirements of this web site to better meet the goal of the project.

Fur

[2018-02-06 16:08] mikelhsia commented on #13
@song2222
Hi Song, Nice to work with you. Since we're going to integrate with the system that you're currently building, could you quickly walk me through the plan and would be appreciated if you can let me know the items in the list below:
1. Could you provide an estimation of when are we able to connect to your platform and start retrieving data from the platform?
2. What format could we get tho

[2018-02-06 16:10] mikelhsia commented on #13
@myteam333
Dear all,
It's my pleasure to work with you. Please see below for the brief project introduction:
## Deliverable
The outcome of this project will be a web app which allows a user to sign up, and log-in to a system that gives them a data dashboard for climate figures.

## Duration
The system as a whole is expected in 5 weeks.

## Project Detail
The work has been divided into two parts:
•

[2018-02-09 07:02] mpathiuk commented on #13
Hi @mikelhsia ,

1. WCL is the short-form of our company name :) Wiredcraft Limited
2. From @vincent1211 :
- goal of this project: Mainly to give easy access to climate data for our different agencies
- target audience: Technically proficient users who know how to search and find the appropriate data already.
- design wise we'll go with whatever you suggest
- We've handed over our domain credentia

[2018-02-10 06:57] mikelhsia commented on #13
# Project requirements and work of scope
A registered-member-only platform with the following requirements:
- Using username, email, password as required information for registration, where username as unique key for user records
- Successful registration triggers sending email to system admin, reminding admin to configure the right data to present to that specific user
- A dashboard page for user

[2018-02-10 07:01] mikelhsia commented on #13
Hi @mpathiuk,
Does the word "**they**" in this requirement "_And after sign up the real-time climate data system expects to receive the Username and Email so **they** can customise the information in the backend for WCL to ..._" mean website administrator from Zbal Corp where they will manage the user information from backend without our assistant?

Thank you,

[2018-02-10 08:23] mikelhsia commented on #13
# Initial Project Plan
### WCL and Qingfeng Integration breakdown
- API testing
- Feedback testing results to Qingfeng to see whether all APIs work as in the API spec
- API integrating fetching data for front-end to display
- Production integration testing as a whole

### Project Timeline
- **Week 1**: _Design and getting client approval_
    - Kick-off meeting to brief the team with client's requ

[2018-02-11 07:45] mpathiuk commented on #13
@mikelhsia

Assume this will be automated, matching users to a list on their side for special privileges or a default setup if they are not on the list

We're in week 2 of the project, when Vincent from Zbal Corp gets back to you:
- We just became aware of a new industry regulation that requires us to ask for user's physical address during registration and verify this somehow. We have a system tha

[2018-02-12 13:41] mikelhsia commented on #13
Before I do anything, I would go over the contract or any other project scope related documentation in order to define whether this would consider a change request.

I would first tell the client in a polite way that this was not included in the original project scope, which we consider a change request. However, in order to meet the deadline, we would require additional resources to speed up the

[2018-02-27 09:02] mpathiuk commented on #13
Thanks @mikelhsia we have what we need from this test. You will hear back from us in the next few working days.

Closing as done.

[2018-02-27 09:02] #13 closed, assigned to nobody

[2018-05-28 03:25] mpathiuk opened #14 "Test for Adrien"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

Project Introduction
You have been assigned as project manager for a project for the client Mayi Corp (your client stakeholder is Anthony). The outcome of this project will be a website which allows

[2018-05-28 05:08] mpathiuk opened #15 "Test for Federik"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client Kuno Corp (your client stakeholder is Leo). The outcome of this project

[2018-05-31 01:39] apelegri commented on #14
Subject: Mayi Corp project follow-up

Good morning @chopper222,

As a follow-up to our previous meeting, I would like first a confirmation of your expectations and needs from Wiredcraft. Then I will need more details about gold traiding technical integration.

Regarding your customisation needs, you expect us to provide:
- username & email

You also mention user location based customisation. Could

[2018-05-31 03:02] mpathiuk commented on #14
From @chopper222

Hi @apelegri , I've talked to your developers and shared the relevant technical materials and our API specifications. We're clear on the interfaces needed. From your side you will call our API for signup with all info, and you will call login with username, password and location.
Location will be the GPS coordinates returned by browser or Shanghai center as default if you do not

[2018-05-31 03:15] apelegri commented on #14
To @chopper222

Thanks for your quick answer and materials sharing.

I will get back to you if we have any further questions or requirements.

[2018-05-31 05:20] apelegri commented on #14
To @Anthony111
Good afternoon @Anthony111,

I would like to let you know that we are tightly in touch with Charlie Labs, reviewing gold trading service integration details.

Besides, could you provide me with a domain name to bind the website?

Best regards,

Adrien Pelegri

[2018-05-31 06:01] apelegri commented on #14
## Note: Mayi Corp (Project Guidelines)
**Client:** Mayi Corp
**Timeframe:** 7 weeks
**API provider:** Charlie Labs in charge of the gold trading information.

**Outcome:** a website which allows a user to sign up, and log-in to a system that gives them gold trading information.

**Wiredcraft project scope:** backend & frontend for login/signup to access the gold trading system.

### Specific requ

[2018-05-31 06:05] apelegri commented on #14
To: @myteam333
Subject: Mayi Corp, kick-off meeting

Hi there,

I planned Mayo Corp project kick-off meeting to tomorrow. [(Invitation)]()
In preparation for the meeting, refer to this [note](https://github.com/Wiredcraft/test-pm/issues/14#issuecomment-393414104).

If any information is missing, please let me know.

**Kick-off meeting details:**
- Project overview / Q&A
- Setup design workshop mee

[2018-06-01 08:08] mpathiuk commented on #14
@apelegri Can you give us a rough idea of what development activities will occur each sprint?
We'd also like to know your QA and UAT plan

[2018-06-01 10:50] apelegri commented on #14
@mpathiuk I will get back to you tomorrow on these points.

[2018-06-02 09:54] apelegri commented on #14
@mpathiuk Below are the main steps I will follow.

## Sprint activities:

**Sprint planning:**
- Sprint goal definition
- Backlog items prioritisation
- Sprint backlog (item + sub-tasks)

**Sprint execution:**
- Perform task-level work

**Daily scrum:**
- Yesterday ‘done’ review
- Next task assignment
- Might discuss task obstacles

**Sprint review:**
- Review ‘Done’ user stories
- Gather feedback

[2018-06-03 11:11] apelegri commented on #14
# Project Plan

## Project introduction
**Client:** Mayi Corp

**Project background:**
We should deliver a website which allows a user to signup/log-in to a system that gives them gold trading information.

**Success criteria:**
- QA
- UAT
- Client’s feedback

## Project definition
**Methodologies & tools:**
- Scrum ([refer to note](https://github.com/Wiredcraft/test-pm/issues/14#issuecomment-3940

[2018-06-04 02:32] mpathiuk commented on #15
Closing.

[2018-06-04 03:47] mpathiuk opened #16 "Test for Jeremy"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client Kuno Corp (your client stakeholder is Leo). The outcome of this project

[2018-06-05 01:10] notjeremyhissong commented on #16
@mpathiuk Thanks for the overview. Just want to clarify how deep into the interpersonal communication side you'd like me to go for this. If I were starting an actual conversation with Frank in this context, it would be helpful to first have a bit of background about why Jhonny Labs was selected to provide the coupon backend for this project (was this WCL's decision, Kuno Corp's decision, or a coll

[2018-06-08 02:17] mpathiuk commented on #14
@apelegri , Following your plan you are now in sprint 2.

You get the following message from @Anthony111:
Hi there, our legal team just made us aware of a new regulation that requires us to validate users phone number by SMS before allowing registration. We'll need all users Phone Numbers and need to send them to the Charlie Labs gold trading system as well for tracking.

After talking to your tea

[2018-06-09 12:38] apelegri commented on #14
@Anthony111  After assessing your new requirement with my team, we estimate the development time of this new feature of 2 weeks. The buffer planned for the project to fix unforeseen issues along the development path, as a whole, cannot absorb this new feature development.

So regarding your release expectation on the due date, we can suggest two alternatives.

First is to accelerate the developmen

[2018-06-11 02:50] mpathiuk commented on #16
Hi @jeremyhissong .

That's up to you, but I'd keep this to getting the information you need and not getting into the account management level.

Kuno Corp already chose this provider based on previous work with them

We'll handover to Kuno Corp's IT team as part of delivery and htey will run maintenance operations.

Good catch but you don't need to worry about this for the moment.

Assume you have

[2018-06-11 02:52] mpathiuk commented on #16
You're in week 5 of your plan when Leo gets back to you:
From Leo111
Hi there, We have some feedback from upper management on the mockups and we need to change some of the frontend styling. Please see attached our pdf of the necessary changes

After running these past your team you discover that changing these will need 1 more week of work and will push back the delivery timeline by 1 week.

What

[2018-06-11 07:44] mpathiuk commented on #14
Thanks, We have enough information to move to the next steps. Closing this test as completed.

[2018-06-11 07:44] #14 closed, assigned to nobody

[2018-06-11 10:36] notjeremyhissong commented on #16
@mpathiuk Noted, thank you. In general I would be direct with the timeline required, and would propose a few possible pathways for Kuno Corp to choose from depending on their situation and needs.

If there is disagreement amongst the WCL team about how long the new frontend changes should take, we may consider doing a group estimation in a planning poker or wideband delphi process (as you suggeste

[2018-06-12 03:36] mpathiuk commented on #16
Thanks @jeremyhissong , we have enough information to proceed. Closing this test as completed.

[2018-06-12 03:36] #16 closed, assigned to nobody

[2018-07-16 09:03] fuzhuang opened #17 "Test for Guido"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client DESCO Corp (your client stakeholder is Karen). The outcome of this proj

[2018-07-31 05:07] fuzhuang opened #18 "Test for Luna"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client WMM Corp (your client stakeholder is Anna). The outcome of this project

[2018-08-01 04:36] chrimare commented on #18
@fuzhuang unlucky, I don't have any exp for H5 APP, what I wrote below is based on my methodology.  For the breakdown task, I assume that you mean breakdown the whole project. please let me know if you have any problems, thanks.

**Task 1**
WCL will need to provide client a H5 APP with following items within 10 weeks:
1. check function for product location in store map and design store map view
2.

[2018-08-24 05:17] fuzhuang opened #19 "Test for Chenlijun"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client DESCO Corp (your client stakeholder is Karen). The outcome of this proj

[2018-08-27 07:10] fuzhuang opened #20 "Test for Libo Sheng"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client DESCO Corp (your client stakeholder is Karen). The outcome of this proj

[2018-08-27 07:30] fuzhuang commented on #20
@Kar111 Could you delete and ignore? Thanks

[2018-08-27 14:39] charleslijun commented on #19
@fuzhuang I just knew about this task when Hazel notified me in Lagou APP this afternoon.  I am afraid that i can't finish it in two hours tonight because i just had time to review it. Considering it is 10:30 pm now,  i will firstly finish part of it tonight and will accomplish other parts of the task as soon as possible.  If there has any questions, please let me know.

[2018-08-27 14:58] charleslijun commented on #19
Stakeholder:
external :
Client                Company: DESCO Corp ;Contact window: Karen; Role: Project manager
Third Party        Company: Retail Genius Ltd, ;Contact window: Bob; Role: Project manager
internal:
Develop team   five people: • One designer • Two frontend developeres• A developer • A dev-ops engineer

@fuzhuang
question: why doesn't there have test engineers in development team?  Th

[2018-08-27 15:18] charleslijun commented on #19
Requirement:
@fuzhuang there are a few questions about requirement that i just thought of now
1. who can provide QRCode? The third party company or WCL?
2. Who is in charge of releasing the final product of  APP,  DESCO Corp or WCL?  In my understanding ,it is the customer's responsibility and needed to confirmed at the begin of project.
3. what are the performance target such as payment and feedb

[2018-08-27 15:22] charleslijun commented on #19
I have written some questions in my first reading, I will continue to finish the task tomorrow because it is too late tonight. Good night!

[2018-08-28 06:41] charleslijun commented on #19
Question1: Clarify the requirements and provide your understanding of the final scope for Wiredcraft's work.
Answer:
Deliverable: a Wechat miniapp which enables user to scan items in store and pay for it through Wechat.
Requirement:
      1. APP needed to developed in two main-stream operating system of cellphone, ios and android.
      2. Generate QRcode of the app so that user could scan it to a

[2018-08-28 09:17] charleslijun commented on #19
Question: An initial project plan
Answer:
The whole project divided into five main phrases
1. Requirements confirmation phrase
2. UI design and data flow confirmation phrase
3. development phrase
4. integration testing phrase
5. finally delivery phase
the third and fourth phases will go on in an iteration state with two weeks frequency.
As follows, we will focus on every concrete phrase and descri

[2018-08-29 03:24] fuzhuang commented on #19
Hi @charleslijun , good catch on the testing resources. Normally we do have internal QA resources to check on staging, but usually we loop in client or independent QA team for UAT.

[2018-08-29 03:28] fuzhuang commented on #19
@charleslijun Now it's in the 4th phase, 1 week before integration testing. @bbob222 told you that on their side they've encountered some issues that they won't be ready for the integration timeline until a week later than the original timeline. Could you help deal with this?

[2018-08-29 05:38] charleslijun commented on #19
@fuzhuang
On one side, i will communicate with  @bbob222 on why they can't deliver on time, what difficulty they have encountered such as ambiguous requirements, technical issue and other issues. We will think of the  solution to every specific issue to make sure that this condition will not happen again. On the other side, considering the whole process is only ten weeks,  i still choose to integr

[2018-08-29 06:26] fuzhuang commented on #19
@charleslijun Bob told you that wechat coupon API has some framework changes, so they will need to update to accommodate.

Pls communicate with them by addressing them directly with the below mock id (assume the relevant roles are using these ID and you are communicating with them in this repo for the project management work), examples:
@Kar11111111 - Hi there, can I confirm with you the requireme

[2018-08-29 11:01] charleslijun commented on #19
@bbob222 I have heard from you that  your team can't provide functions on time for some framework changes caused by coupon API.  As we communicated at the begin of project, this integration version is crucial to our project because it is the first full-function version that can be tested. It will cause a domino effect on final product release if the first version fail to release on time.  There is

[2018-08-30 02:20] GuidovMal commented on #17
@team333 - Hi Team. For the front end developers I will contact Karen and get their corporate layout like logo, colour scheme etc.

[2018-08-30 02:23] GuidovMal commented on #17
@Kar111 - Hi Karen, Hope you are well. I have posted a initial project plan on Github: https://github.com/GuidovMal/Desco
You can download the project plan from there or I am happy to email you a copy. Look forward to any comments. Once you have reviewed I suggest we all get together to go through the stages of the project.
Thank you,
Guido

[2018-08-30 02:24] GuidovMal commented on #17
@Kar111 - Hi Karen. Would you be able to provide Desco's corporate layout for our front end developers? Information like company logo, colour scheme, fonts would be appreciated.
Thanks again,
Guido

[2018-08-30 02:27] GuidovMal commented on #17
@team333 - Hi Team. For the future planning of the project I would like to try to use Yodiz. It is a great online project tool for agile projects. We can integrate into Github. Of course I will discuss with Fuzhuang if she agrees with this approach. I would be happy to share a concept with you first. Thank Guido

[2018-08-30 02:29] GuidovMal commented on #17
@Kar111 - Hi Karen. In regards to the requirement to use the camera to scan a product barcode could you specify what information you would like to be displayed on the product page? This is important for the interface with Retail Genius. Product information could be product code, description, price, quantity and perhaps image.
Thanks again,
Guido

[2018-08-30 09:02] charleslijun commented on #19
@fuzhuang if you have any questions, please notify me:)

[2018-09-03 05:03] charleslijun commented on #19
@fuzhuang  It has been a few of days gone by since i answered your last questions. I don't know whether you are busy in recent days or i fail to test. If i have failed test, please let me know and you could tell me the reasons so that i can pay attention  to them in the future:)

[2018-09-07 09:54] fuzhuang commented on #19
Hi @charleslijun sorry for the delay. Thanks for the follow up, I will have @hazelwu contact you next week for scheduling the next round interview.

[2018-09-11 05:16] charleslijun commented on #19
@fuzhuang Ok. Thanks a lot:)

[2018-09-13 02:36] charleslijun commented on #19
Hi @fuzhuang  I haven't received any notifications from @hazelwu so I want to confirm whether the interview goes on?

[2018-09-13 09:13] charleslijun commented on #19
Hi @fuzhuang  I received email from hazelwu a few of hours ago and i will confirm an interviewing date with her.

[2018-10-19 09:52] fuzhuang commented on #19
Done, closed

[2018-10-19 09:52] #19 closed, assigned to fuzhuang

[2018-10-29 07:33] shenglibo commented on #20
@fuzhuang - For the test, so far I have two questions as,
1. We need to provide the Wechat miniapp for 0 to 1, or just add the 'scan' function to current app?
2. how long about each sprint?

[2018-10-29 08:01] shenglibo commented on #20
@fuzhuang - For the test, first of all, I want to get some information about the project status and our my team as blow:
1.	We need to provide the Wechat miniapp for 0 to 1, or just add the 'scan' function to current app?
2.	how long about each sprint?

[2018-10-29 08:22] fuzhuang commented on #20
@shenglibo Hi, for your questions:
1. We don't have the app yet so yes it's 0->1.
2. We have no hard limit on that, you could plan it as you see fit.

[2018-10-29 09:18] shenglibo commented on #20
@fuzhuang Thanks,  since it's a 0->1 project, we need a product manager to provide the PRD and system prototype, if the designer in my team can finish this part, that will be OK too.

Also, we need at least one tester to make sure the outcome reaches client's requiement and has no critical bug.

[2018-10-29 09:20] fuzhuang commented on #20
@shenglibo Let's assume the designer is doing this part, pls go ahead with your plan.

[2018-10-30 04:11] fuzhuang commented on #18
Closing as done.

[2018-10-30 04:11] #18 closed, assigned to fuzhuang

[2018-10-30 12:17] shenglibo commented on #20
@bbob222- I heard from @Kar1111111 that they need to have a new function as 'scan' , means users can add products into cart by scanning product barcode in store. I'm not clear on how store inventory management and POS work, can you tell me more about it?
Based on my current understanding,I think we need to change/add several interfaces between WCL and your system, include several sides:
1.product

[2018-10-30 12:19] Kar111 commented on #20
Please don't send me these messages. )))

On Tue, Oct 30, 2018 at 16:17 shenglibo <notifications@github.com> wrote:

[2018-12-06 09:35] fuzhuang opened #21 "Test for Evgeny Pavlov"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client SFUX Corp (your client stakeholder is Karen). The outcome of this proje

[2018-12-06 09:40] fuzhuang commented on #17
Test done. Closing.

[2018-12-06 09:40] #17 closed, assigned to fuzhuang

[2018-12-06 09:40] fuzhuang commented on #20
Test done. Closing.

[2018-12-06 09:40] #20 closed, assigned to fuzhuang

[2018-12-06 09:50] fuzhuang opened #22 "Test for Jerry Zang"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
You have been assigned as project manager for a project for the client Zbal Corp (your client stakeholder is Vincent). The outcome of this project will be a web app which al

[2018-12-10 02:13] Evgeniypd95 commented on #21
Hey @Karrrr11 !

We are eager to kick-off our first development sprint of SFUX Corp WeChat app. I would like to ask you a few questions to clarify the ideal app usage scenario and potential ways in which users could deviate from this path.

Here goes:
1) Does your store sell any items with RFID/RF tags e.g. special tags that can setoff an anti-theft alarm at the exit?
2) Does your store sell any g

[2018-12-12 15:54] Evgeniypd95 commented on #21
### Clarify the requirements and provide your understanding of the final scope for Wiredcraft's work.

**Requirements and the final scope**
To clarify the requirements, let's assume that answers to my questions are:
1. no
2. no
3. no
4. no
5. no plan yet
6. sports equipment
7. no
8. no
9. N/A

Let's break down the essential user stories into development requirements.

1. User could scan QRcode to

[2018-12-17 09:11] fuzhuang commented on #21
Thanks @Evgeniypd95 , great work! Further feedback and communications coming up in the next few days.

[2019-01-02 07:06] Evgeniypd95 commented on #21
Hello @fuzhuang !

Could you please estimate when I should expect to hear back from you regarding the next steps? I am trying to plan out my agenda for January and would like to factor that in.

Thanks.

[2019-01-16 08:39] fuzhuang commented on #21
@Evgeniypd95 Sorry for the late update. HR will send you an invitation for interview soon, will keep you noted:)

[2019-01-20 08:41] Jerry-zang commented on #22
**Requirement：**
This project is to develop a web app, users need to sign up in this app by their user name, password and email, after that, they can sign in the app, and they will see a dashboard of the climate. One thing we need to know is that the climate data will be provided by another company Qingfeng Labs, that means we have to develop a interface with them.
**Final scope：**
The tasks for u

[2019-01-20 08:42] Jerry-zang commented on #22
**Project Plan:**
We'll have a kick-off meeting in the first week, and in the whole project, will have milestones: kick-off meeting in the first week, mockups of the app in the second week, initial app in the third week, integrated app in the fourth week and the final app in the fifth week.
1st Week:
    Make the design of the sign up, sign in and dashboard interface
    Design the backend service

[2019-01-20 09:03] Jerry-zang commented on #22
@Vincent121111
Dear Vincent,
     Good afternoon, I hope this message finds you well.
      We'll start the Zbal Corp climate web app project soon, before that, I hope we can arrange a kick-off meeting next week,  the meeting will have 3 subjects:
1. Introduce the project, including background, goal, milestone, plan and etc.
2. Introduce the team members and key users to each other.
3. Declare the

[2019-01-20 09:18] Jerry-zang commented on #22
@song222
Dear song,
        Good afternoon, this is Jerry, project manager of Zbal Corp climate web app project from wiredcraft, hope this message finds you well.
        We will start the project next week, and there is an important interface between us. About this interface, I think there is still a lot of details we need to confirm, so could you please tell me when you will be available next we

[2019-01-20 09:29] Jerry-zang commented on #22
@myteam333
Dear all,
Good afternoon, this is Jerry, project manager of Zbal Corp climate web app project, hope this message finds you all well.
I think you are already informed that we will start a new project next week, it's my pleasure to work with you guys, hope we could have a good cooperation. I just upload a rough project plan in comment, please check it and I would be appreciated if you hav

[2019-01-20 09:44] Jerry-zang commented on #22
@fuzhuang
Dear fuzhuang,
        I just finished the test, sorry to spend too much time.
        In this project, I refer to the scrum methodology and the project I experienced before, for many details, I choose to arrange meetings to discuss them rather than ask questions by comments, because I think face-to-face is the most effective method to communicate.
        I know there must be some defec

[2019-01-25 07:34] fuzhuang commented on #21
Test completed, closing

[2019-01-25 07:34] #21 closed

[2019-01-25 07:37] fuzhuang opened #23 "Test for Taowei"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client Kuno Corp (your client stakeholder is Leo). The outcome of this project

[2019-01-25 07:37] #15 closed, assigned to nobody

[2019-01-25 07:43] fuzhuang commented on #22
Hi @Jerry-zang , Thanks for the project plan and all the emails, I will be mocking for some of the scenarios in the project and pls update here as you are using GH to manage the project.

[2019-01-25 07:45] fuzhuang commented on #22
@Jerry-zang It is now in the middle of week 3, and @song222 just tell you that due to their other parallel project, they have a major update in the API design, and they will send you the updated API specs when it's finalized internally.

[2019-01-26 12:19] Jerry-zang commented on #22
@fuzhuang
Hi Fuzhuang, thanks for the scenario!
For this scenario, I have 3 actions here:
1.I need to make a urgent meeting with Song to get more information about this change, include the reason and background, if the update is necessary or not, how long will this update cost and etc.
2.I need my team's help to estimate the impact to our interface of this update: just need to some small change or

[2019-01-26 12:29] Jerry-zang commented on #22
@song222
Dear Song,
Good afternoon!
Thanks for the information, but I have a few questions about your update, can we have a concall meeting soon? So our team could know more about this update and make some strategy to ensure the project process.
Please let me know when you are available, thank you very much!
Best Regards!

Wiredcrafted Zbal Corp climate web app project
Project manager-Jerry
Email:

[2019-01-26 12:50] Jerry-zang commented on #22
@Vincent121111
Dear Vincent,
Good afernoon!
I just got a information from Mr.Song, they will have a major update in API design and that might make some impact on our project. I just ask a urgent meeting with Mr. Song to get more information and estimate the impact, so please know this issue, and I will report the result to you when we finalize it, thank you!
Please feel free to let me know if ther

[2019-01-31 02:20] fuzhuang commented on #22
@Jerry-zang Vincent is very upset about the change, he told you that internally the launch date has been communicated across different departments, mkt and operations and so on, so he pushed you to have the team working OT to cover the time loss.

[2019-01-31 02:49] Jerry-zang commented on #22
@fuzhuang
Hi Fuzhuang, thanks for your reply!
In this case, I think the first thing is to pacify Vincent, tell him the change may not cause any big impact for us, we are still estimating the change, and we will have different solutions for the estimation results.
I''ll put the email to Vincent in the following, please check it, thanks!

[2019-01-31 03:11] Jerry-zang commented on #22
@Vincent121111
Dear Vincent,
Good morning!
Thanks for your kindly information! We know the launch date is very important, we won't postpone it unless necessary and we don't have any other choice, so please don't be worried about that, we will make it on time.
Now my team are estimating the impact of the change, I am not sure how far the change will impact us, but we will have different solutions f

[2019-02-01 07:15] fuzhuang commented on #22
@Jerry-zang Usually we don't encourage our team to do overtime unless it's absolutely needed. In this case, the delay is not caused by our side, could you try some alternative communication other than promise the client that we will do OT?

[2019-02-01 08:43] Jerry-zang commented on #22
@fuzhuang
Hi Fuzhuang, Thanks for your kindly reply!
I totally agree with you about the OT, and I am sorry I misunderstand the scenario and use some inappropriate words in the last email. I will update the new email in the following comment, please check it, thanks!

[2019-02-01 08:46] Jerry-zang commented on #22
@Vincent121111
Dear Vincent,
Good afternoon!
Thanks for your kindly information!
Now we are implementing the project as our schedule, we also think this change may cause some risk for our process. Could you please push them to complete the update as soon and provide us the API as the schedule we confirmed before? Or maybe you could ask them to suspend the update until our app is launched, then we

[2019-02-05 02:43] Jerry-zang commented on #22
@fuzhuang
Hi Fuzhuang,
Happy Chinese New Year to you all! Thanks for the test and scenarios, may the coming new year bring you joy, love and peace!
Best Regards!

[2019-02-18 04:10] fuzhuang commented on #22
Hi @Jerry-zang , thanks for all the replies.

Our HR @hazelwu will send you invitation to interview soon, keep tuned.

[2019-02-18 05:51] Jerry-zang commented on #22
@fuzhuang
Hi Fuzhuang,
Copy that, thanks for your information, hope I could learn more from you in the future!
@hazelwu
Hi Hazel, this is Jerry, looking forward to your invitation and hope we can have a nice talk ,thanks!

[2019-03-12 03:28] fuzhuang commented on #22
close as done

[2019-03-12 03:28] #22 closed

[2019-03-12 08:20] fuzhuang opened #24 "Test for Nara Zhou"
First make sure you read the test guidelines here: https://github.com/Wiredcraft/test-pm

This task will be followed up asynchronously over a few days and should not take more than two hours in total.

**Project Introduction**
On behalf of Wiredcraft (WCL), you have been assigned as project manager for a project for the client Kuno Corp (your client stakeholder is Leo). The outcome of this project

[2019-03-12 14:24] mix33 commented on #23
# Prerequisite:
1. Assume prototype design has finished by product manager.
2. The introduction did not mention about second payment logic which is still part of prototype design scope.
3. Assume developers will also work as QA.

***

Hi Team @myteam333,
There would be Kuno Corp project kick-off meeting to tomorrow at 10:00 am.
Please refer to project overview below in preparation for the meeting.

[2019-03-12 14:29] mix33 commented on #23
# Sprint plan overview:

### Sprint planning:
* Sprint goal definition
* Backlog items prioritisation
* Sprint backlog (item + sub - tasks)
### Sprint execution:
* Perform task-level work
### Daily scrum:
* Yesterday ‘done’ review
* Next task assignment
* Might discuss task obstacles
### Sprint review:
* Review ‘Done’ user stories
* Gather feedbacks to adapt the product
### Sprint retrospective:
*

[2019-03-12 14:43] mix33 commented on #23
# Project Plan

## Project introduction

**Client:** Kuno Corp
**Project background:**
A wechat miniapp which allows a user to sign up and pay for membership to a coupon system
**Success criteria:**
* QA
* UAT
* Client’s feedback

## Project definition

**Methodologies & tools:**
* Scrum
* Tools:
Calendar
Slack - internal communication
Email - external communication
Github - backlogs & user storie

[2019-03-12 14:48] mix33 commented on #23
# Project Plan

## Project introduction

**Client:** Kuno Corp
**Project background:**
A wechat miniapp which allows a user to sign up and pay for membership to a coupon system
**Success criteria:**
* QA
* UAT
* Client’s feedback

## Project definition

**Methodologies & tools:**
* Scrum
* Tools:
Calendar
Slack - internal communication
Email - external communication
Github - backlogs & user storie

[2019-03-12 14:52] mix33 commented on #23
Hi @fuzhuang, just want to make sure if there's 3 comment besides this one, because there were 2 identical comments of project plan while if I deleted one of them, both would be disappeared which seemed really weird.

[2019-03-13 08:21] narasss commented on #24
Hi fuzhuang,

Since I have never used GitHub for project management before, I will write down everything

[2019-03-13 08:32] narasss commented on #24
@fuzhuang - I have received the test case, I will feedback you the results within 2 workdays, thanks for the opportunity.

[2019-03-13 10:08] fuzhuang commented on #23
Hi @mix33 Thanks for the fast response!

Could you update the project plan/wbs baseline section with the below:
1. elaborate on the dependencies? You current answer only listed two parties that we will have dependency with, could you list what their dependency items will be and pls incorporate that into your project plan;
2. Looks like QA and UAT are not part of the plan, pls assume 9 weeks are fo

[2019-03-14 14:52] mix33 commented on #23
Hi @fuzhuang Thank you very much for your reply. I've updated project plan as suggested and below you can find 3 features user story with acceptance critera.

***

# 3 User story with acceptance criteria
**As a new user I want to sign up for the coupon system.**
* See a sign up button page for new user after QR scan or miniapp name search
* Trigger authentication page after click the sign up butto

[2019-03-19 10:09] narasss commented on #24
@fuzhuang - Hey Fuzhuang, here comes my homework. Sorry for the late submission.

### **Project Overview:**
- To develop a WeChat Mini-Program which allows a user to sign and pay for membership to a coupon system
- Johnny labs provide API for coupon system

### **Responsibilities:**
WCL - Frontend and backend development
LEO - Coupon backend API provider

### **Team Structure:**
Nara - Project Man